---
---

// add bootstrap variable settings here

@import 'bootstrap';


// add more css stuff here

body {
  padding-top: 50px;
}

.content {
  padding: 40px 15px;
}

.photogallery {

  .photogallery-image {
    margin: 5px;
    max-width: 210px;
    max-height: 210px;
  }

  .photogallery-image {
    padding: 5px;

  }
}
