// Styling for the photos section
#photos {
  .photo-item {
    right: 0;
    margin: 0 0 15px;
  }
}
@media(min-width:767px) {
  #photos {
    .photo-item {
      margin: 0 0 30px;
    }
  }

  //.photo-modal .modal-content img {
  //  border-radius: 6px;
  //  padding: 1px;
  //  border: 1px solid #000;
  //}
}