<!-- Footer -->
<footer>
<div class="container">
  <div class="row">
	<div class="col-md-4">
	  <span class="copyright">Poslední aktualizace: 26.03.2019</span>
	</div>
	<div class="col-md-4">
	  <span class="copyright">Copyright &copy; Krušpánek 2019</span>
	</div>
	<div class="col-md-4">
	  <ul class="list-inline social-buttons">
		<li class="list-inline-item">
		  <a href="https://www.facebook.com/groups/59925545939/?ref=group_header" target="_blank">
			<i class="fab fa-facebook-f"></i>
		  </a>
		</li>
		<li class="list-inline-item">
		  <a href="mailto:info@kruspanek.com">
			<i class="fa fa-envelope"></i>
		  </a>
		</li>
	  </ul>
	</div>
  </div>
</div>
</footer>
