<!-- Trainings -->
<section class="bg-light" id="trainings">
<div class="container">
  <div class="row">
	<div class="col-lg-12 text-center">
	  <h2 class="section-heading text-uppercase">Zkoušky</h2>
		<p><b>V současné době, díky období prázdnin a koronaviru, zkoušky neprobíhají. Jakmile se situace změní, budeme Vás informovat.</b></p>
		<p><s>Zkoušky probíhají každé pondělí od&#160;19:00 do&#160;21:00 v&#160;DD&#160;Slunečnice, Na&#160;Hranicích 674/18, 181 00 Praha&#160;8-Bohnice.</s></p>
<!--	  <p class="mapContainer">-->
<!--		<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2557.4440805894887!2d14.431011115963983!3d50.134123779432954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470beb1929b02523%3A0x3a7f88fb3f9979e!2sDomov+pro+seniory+Slune%C4%8Dnice!5e0!3m2!1scs!2scz!4v1553644335526" frameborder="0" style="border:0" allowfullscreen></iframe>-->
<!--	  </p>-->
	  <p>Kdo může přijít? Kdokoliv, kdo má rád Valašsko, rád tancuje a&#160;zpívá. Předchozí taneční zkušennosti jsou vítány, nicméně nejsou podmínkou.</p>
	  <p>
		S&#160;sebou věci na tancování, boty s&#160;nečernící podrážkou (ideálně s&#160;negumovou podrážkou, aby se lépe tancovalo). Dále pak dobrou náladu a&#160;odhodlání.
		Neděláme nějaké vstupní testy, takže se nebojte a&#160;klidně přijďte ;-)
	  </p>
	</div>
  </div>
</div>
</section>
