// Styling for the navbar
#mainNav {
  background-color: var(--color-navbar-bg);
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: var(--color-navbar-toggler-bg);
  }
  .navbar-brand {
    color: var(--color-text);
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: var(--color-heading);
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 700;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: var(--color-heading);
        &.active,
        &:hover {
          color: var(--color-text);
        }
        &.active {
          color: var(--color-accent);
          outline: none;
          border-bottom: .25rem solid var(--color-accent);
        }
      }
    }
  }
}
@media(min-width:992px) {
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;

    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.5rem 1.5rem 1.25rem !important;
        }
      }
    }
    &.navbar-shrink {
      background-color: var(--color-navbar-bg);
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}
